@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

//Color Palette
$primary-color: #33305C;
$secondary-color: #473F79;
$accent-color-1: #51C7A7;
$accent-color-2: #5ABEF9;

//Font properties
$font-primary-color: #f1f1f1;
$font-secondary-color: #212121;
$font-large-size: 5rem;
$font-header-size: 3rem;
$font-subheader-size: 1.4rem;
$font-big-size: 1.3rem;

$font-large-size-mobile: 3rem;

$font-size: 16px;
$font-family: 'Montserrat', sans-serif;
