//Abstract files
@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';
@import './abstracts/globals/globals.scss';

//Functions
@import './abstracts/functions.scss';

//Components
@import './components/components.scss';

//Pages related files
@import './pages/home.scss';
@import './pages/labels.scss';
@import './pages/datasets.scss';

//main config
body {
    background-color: $primary-color;
    width: 100vw;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

html {
    @include font;
    overflow-x: hidden;
    overflow-y: auto;
}