//Font
@import './font.scss';
//Size
@import './size.scss';
//Position
@import './position.scss';


.clickable {
    cursor: pointer;
}

.next-button {
    position: fixed;
    top: 80vh;
    left: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
    animation: buttonAnimation 1s linear;
}

@keyframes buttonAnimation {
    from {top: 80vh; left: 120vw;}
    to {top: 80vh; left: 80vw;}
}

@keyframes buttonAnimationButton {
    from {top: 80vh; left: 120vw; }
    to {top: 80vh; left: 60%;}
}

.back-button {
    transition: all 1s ease-out;

    &:hover {
        position: relative;
        right: 1%;
    }
}

.card {
    background-color: $secondary-color;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 5px rgba(47, 43, 77, 0.1);
}

.chart {
    padding: 2%;
    min-width: 80vw !important ;
    height: auto;

}

.fullscreen {
    margin: 0;
    width: 100%;
    height: 100%;
}

canvas {
    min-width: 100% !important;
    min-height: 100% !important;
}

@media screen and (max-width: 1024px) {
    .chart {
        min-width: 88vw !important;
        height: auto;
    }
    .parent-section {
        width: 50vw;
    }
    .dataset {
        width: 100%;
    }

    .new-regression {
        font-size: $font-size;
        margin-right: 5vw;
    }
}

@media screen and (max-width: 600px) { 

    .chart {
        min-width: 88vw !important;
        height: auto;
    }
    
    canvas {
        width: 100%;
        height: 25vh !important;
    }
    .button-large {
        width: 25vw;
        height: 20vw; 
    }

    .next-button {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 30vw;
        height: 10vh;
        top: 80vh;
        left: 60%;
        animation: buttonAnimationButton 01s linear;
    }

    .parent-section {
        width: 80vw;
    }
    .dataset {
        width: 100%;
    }

    .navbar {
        min-height: 10vh;
    }
}

.notification--error {
    color: $error-color;
}