.parent-section {
    position: relative;
    width: 50%;
    left: 10%;
}

.container {
    position: relative;
    width: 50%;
    left: 25%;
}

.margin-top {
    margin-top: 2vh;
}
.margin-right {
    margin-right: 4vw;
}